.kvadrat{
border: 10px solid palevioletred;
width: 500px;
height: 500px;

}

div{
    width: 25%;
    height: 25%;
    /* background-color: lime; */
}

#klein1{
    margin-left: 75%;
    background-color: lime;
}

#klein2{
    margin-left: 50%;
    border: 5px solid gray;
    box-sizing: border-box; 
    background-color: lime; 
}

#klein3{
    margin-left: 25%; 
    background-color: lime;   
}

#klein4{
    border: 5px solid gray;
    box-sizing: border-box;
    background-color: lime;

}

/* qadrat 2 */
    
.qadrat2{
    border: 10px solid rgb(255, 255, 255);
    width: 500px;
    height: 500px;
}

#box{
    width: 111px;
    height: 111px;
    background-color: rgb(247, 244, 42);
    border: 7px solid orange;
   
}

#red1{
    width: 125px;
    height: 125px;
    background-color: red;
    padding-left: 25%;
}

#red2{
    width: 125px;
    height: 125px;
    background-color: red;
    padding-left: 50%;
}

#red3{
    width: 125px;
    height: 125px;
    background-color: red;
    padding-left: 75%;
}
